{% extends "base.html" %}
<title>{% block title %}Meetings{% endblock %}</title>

{% block content %}
<h1 align="center">Meetings</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for meeting in user.meetings %}
    <li class="list-group-item"><b>{{ note.summary }}</b>
    <button type="button"
            class="close"
            onClick="deleteMeeting({{ meeting.id }})">
        <span aria-hidden="true">&times;</span>
    </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <label for="summary">Short summary</label>
    <input type="text" class="form-control" id="summary" name="summary"/>
    <label for="data">Enter meeting info</label>
    <textarea name="data" id="data" class="form-control"></textarea>
    <br>
    <button type="submit" class="btn btn-info">Add note</button>
</form>
{% endblock %}
